arrowParens: avoid
bracketSpacing: false
trailingComma: all
tabWidth: 2
semi: false
singleQuote: true

plugins: ['prettier-plugin-svelte']
overrides: [{'files': '*.svelte', 'options': {'parser': 'svelte'}}]
